### VENV ###
env/

### IDEs ###
.vscode/
.idea/
__pycache__/

### Pyinstaller ###
build/
dist/

### DATA ###
markets.csv
markets.html
markets.json

global.csv
global.html
global.json

global_defi.csv
global_defi.html
global_defi.json

trending_top7.csv
trending_top7.html
trending_top7.json

exchanges.csv
exchanges.html
exchanges.json

### MISC ###
nohup.out
