### VENV ###
env/

### IDEs ###
.vscode/
.idea/
__pycache__/

### Pyinstaller ###
build/
dist/

### DATA ###
market.csv
market.html
market.json

global_data.csv
global_data.html
global_data.json

global_defi.csv
global_defi.html
global_defi.json

### MISC ###
nohup.out
